[package]
name = "fezz-macro"
version = "0.1.0"
edition = "2021"
description = "Procedural macros for the Fezz serverless runtime"
license = "MIT"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full", "parsing", "extra-traits"] }
